<main>
    <div class="hero__text">
        <span class="hero__texte__Developpeur">
            Développeur
        </span>
        <span class="hero__texte__Developpeur">
            Full Stack
        </span>
        <span>
            Machine 
        </span>
        <span>
            Learning &
        </span>
        <span>
            DevOps
        </span>
        <p>Étudiant passionné en informatique, spécialisé en développement <br>
           Full Stack, Machine Learning et DevOps. Je conçois des applications <br>
           web modernes, j'intègre des modèles d'IA et je déploie des <br>
           infrastructures conteneurisées.</p>
           <div class="hero__text__button">
            <button class="hero__text__button__1">
                    Voir mes projets
                    <span class="arrow">→</span>
            </button>
            <button class="hero__text__button__2">Me contacter</button>
           </div>
    </div>
    <div class="hero__image">
        <div class="hero__image__space">

        </div>
    </div>
    
</main>