main{
    width: 100%;
    display: block;
}

header{
    display: block;
    width: 100%;
    background-image: url("/assets/images/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-top: 1rem;
}

#accueil,
app-about,
app-skills,
app-projet,
app-contact{
    scroll-margin-top: 9rem;
}
app-header{
    display: block; 
    position: sticky;
    top: 0;
    z-index: 10;
}